---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import CallToAction from '../components/CallToAction.astro';
import CardFeatures from '../components/CardFeatures.astro';
import Featured from '../components/Featured.astro';
import ElementFeatures from '../components/ElementFeatures.astro';
import PreciosWeb from '../components/PreciosWeb.vue';
import RecentPosts from '../components/RecentPosts.astro';
import RecentPostLeft from '../components/RecentPostLeft.astro';
import RecentPostRight from '../components/RecentPostRight.astro';
import Steps from '../components/Steps.astro';
import StepsNum from '../components/StepsNum.astro';
import Faq from '../components/Faq.astro';
import Pregunta from '../components/Pregunta.astro';
---
<Layout
    title="ManejoWeb - Creaci칩n y administraci칩n de redes sociales"
    canonical="https://manejoweb.com.ar/administrar-redes-sociales"
    metaTitle="Redes sociales para tu negocio 游 - ManejoWeb"
    metaDescription="Aproveche el poder de las redes sociales para atraer y fidelizar a m치s clientes. Generamos contenido de calidad y relevante para tus redes sociales"
    metaImg="https://manejoweb.com.ar/assets/images/fondo-redes.jpg"
    bodyClass="body-redes"
    >
    
    <Hero>
        <h1 slot="titulo" data-aos="fade-right" data-aos-delay="200">Creamos y Administramos<br>tus <em>redes sociales</em></h1>
        <p slot="descripcion" data-aos="fade-right" data-aos-delay="600">Generamos contenido de calidad para que consigas m치s clientes fidelizados y m치s ventas.</p>
        <a slot="boton" data-aos="fade-right" data-aos-delay="900" href="#contact" class="btn btn-primary">Cont치ctenos</a>
    </Hero>

    <CallToAction>
        <h2 slot="titulo" >쯅ecesita un community manager para su negocio?</h2>
        <p slot="descripcion">Nosotros administramos sus redes sociales por usted, estudiamos su negocio para crear contenido original y de calidad.</p>
        <a slot="boton" href="#contact" class="btn btn-primary">Cont치ctenos</a>
    </CallToAction>

    <Services title="쯈u칠 herramientas ayudan a potenciar su marca?">
        <CardFeatures colClass='col-sm-6 col-lg-4'>
            <img slot="imagen" src="assets/images/comunicacion.svg" alt="comunicaci칩n">
            <h5 slot="titulo">Comunicaci칩n</h5>
            <p slot="descripcion">Estudiamos c칩mo debe llegar el mensaje, como tambi칠n al p칰blico que va dirigido, para que las personas se interesen y quieran conocerlos.</p>
        </CardFeatures>
        <CardFeatures colClass='col-sm-6 col-lg-4'>
            <img slot="imagen" src="assets/images/redessociales.svg" alt="redes sociales">
            <h5 slot="titulo">Redes sociales</h5>
            <p slot="descripcion">Utilizamos las redes sociales m치s usadas por las personas como son: Instagram, Facebook y Twitter, porque son los medios donde m치s interactuar치n con ustedes.</p>
        </CardFeatures>
        <CardFeatures colClass='col-sm-6 col-lg-4'>
            <img slot="imagen" src="assets/images/disenio.svg" alt="Flyers">
            <h5 slot="titulo">Dise침o</h5>
            <p slot="descripcion">A trav칠s del dise침o damos soluciones a los usuarios, mediante contenido previamente estudiado y enfocado a los mismos, y de esta forma tengan la necesidad de conocerlos.</p>
        </CardFeatures>
    </Services>

    <Featured BGblanco={false}>
        <h6 slot="subtitulo" class="title-primary">Sobre el dise침o</h6>
        <h2 slot="titulo" class="title-blue">Contenido moderno y dise침os 칰nicos para su sitio web</h2>
        <p slot="descripcion"><strong>Desarrollo web</strong> con programas premium actuales, utilizamos <strong>contenido de calidad</strong> y el mejor <strong>rendimiento</strong> para las p치ginas, realizamos <strong>dise침os webs creativos</strong>, <strong>animaciones llamativas</strong>, <strong>colores</strong>, <strong>im치genes</strong> y fondos <strong>personalizables</strong> para que tu web sea <strong>m치s atractiva</strong>. Si el cliente lo desea, le <strong>instalamos Wordpress, woocommerce</strong> o alg칰n sistema de gesti칩n de contenidos para que pueda <strong>manejar el sitio f치cilmente</strong>. </p>
        
        <ElementFeatures iconClass="fas fa-palette mr-4">
            <h5 slot="titulo">Dise침o para:</h5>
            <p slot="descripcion">Celulares, tabletas, notebooks y PC</p>
        </ElementFeatures>
        <ElementFeatures iconClass="fas fa-chart-line mr-4">
            <h5 slot="titulo">Rendimiento:</h5>
            <p slot="descripcion">La velocidad y el SEO son primordiales</p>
        </ElementFeatures>
        
        <div slot="imagen" class="featured-img">
            <img loading="lazy" class="img-fluid" src="assets/images/disenio-web.svg" alt="dise침o web moderno">
        </div>
    </Featured>

    <RecentPosts titulo="Algunos trabajos nuestros">
        <RecentPostRight>
            <time slot="tiempo" datetime="2021-01-10T13:53">2021</time>
            <h3 slot="titulo" ><a rel="nofollow noopener noreferrer" href="https://kwanying.com.ar/" target="_blank">Kwanying</a></h3>
            <p slot="descripcion"><a>Centro de Spa</a>, <a>Sitio web</a>, <a>Informativo</a></p>
            <a slot="link" class="post-btn" rel="nofollow noopener noreferrer" href="https://kwanying.com.ar" target="_blank"><i class="fa fa-arrow-right"></i></a>
            
            <img slot="imagen" loading="lazy" class="img-fluid" src="assets/images/kwanying-vista-previa.jpg" alt="vista previa pagina kwanying">
        </RecentPostRight>

        <RecentPostLeft>
            <img slot="imagen" loading="lazy" class="img-fluid" src="assets/images/quickly-vista-previa.jpg" alt="vista previa tienda online">
            
            <time slot="tiempo" datetime="2021-04-06T13:53">2022</time>
            <h3 slot="titulo"><a rel="nofollow noopener noreferrer" href="https://quickly.com.ar/" target="_blank">QUICKLY</a></h3>
            <p slot="descripcion"><a>Imprenta</a>, <a>Web</a>, <a>Informativo</a></p>
            <a slot="link" class="post-btn" rel="nofollow noopener noreferrer" href="https://quickly.com.ar/" target="_blank"><i class="fa fa-arrow-right"></i></a>
        </RecentPostLeft>

        <RecentPostRight>
            <time slot="tiempo" datetime="2021-01-10T13:53">2021</time>
            <h3 slot="titulo"><a rel="nofollow noopener noreferrer" href="https://escueladeveranomurialdo.com.ar/" target="_blank">Escuela de verano - Club Leonardo Murialdo</a></h3>
            <p slot="descripcion"><a>Escuela de Verano</a>, <a>Sitio web</a>, <a>Informativo</a></p>
            <a slot="link" class="post-btn" rel="nofollow noopener noreferrer" href="https://escueladeveranomurialdo.com.ar" target="_blank"><i class="fa fa-arrow-right"></i></a>

            <img slot="imagen" loading="lazy" class="img-fluid" src="assets/images/escuela-de-verano.jpg" alt="vista previa pagina escueladeveranomurialdo">
        </RecentPostRight>
            
        <RecentPostLeft>
            <img slot="imagen" loading="lazy" class="img-fluid" src="assets/images/blocke-vista-previa.jpg" alt="vista previa blocke">
            
            <time slot="tiempo" datetime="2022-04-06T13:53">2022</time>
            <h3 slot="titulo"><a rel="nofollow noopener noreferrer" href="https://blockeargentina.com" target="_blank">Blocke - Revestimientos Anti-humedad</a></h3>
            <p slot="descripcion"><a>Revestimientos antihumedad</a>, <a>Web y tienda</a>, <a>Informativo</a></p>
            <a slot="link" class="post-btn" rel="nofollow noopener noreferrer" href="https://blockeargentina.com" target="_blank"><i class="fa fa-arrow-right"></i></a>
        </RecentPostLeft>
    </RecentPosts>

    <Featured blanco=false>
        <h6 slot="subtitulo" class="title-primary">Venda sus productos online</h6>
        <h2 slot="titulo" class="title-blue">Tienda online para su negocio</h2>
        <p slot="descripcion">Creamos una <strong>p치gina web profesional</strong> que tenga toda la informaci칩n de su negocio y la <strong>tienda</strong> donde muestre todos sus <strong>productos a la venta</strong>. <strong>F치cil de usar</strong> para las personas que no tengan conocimientos de desarrollo, similar al funcionamiento de "<strong>tiendanube</strong>".</br>Contamos con <strong>distintos m칠todos de pago</strong> para que resulte m치s f치cil la compra de tus productos, <strong>sistema de env칤os</strong>, <strong>sistema de cupones de descuentos</strong>, puede <strong>administrar los clientes</strong> que compran y las <strong>ventas que realiza</strong> para tener un <strong>control del stock</strong> disponible.</br> En cualquier momento puede <strong>editar el sitio</strong>, informaci칩n, fotos, tel칠fonos etc.</br>
            Le dejamos el <strong>sitio listo para empezar a vender</strong>, y si en un futuro quiere <strong>agregar m치s productos</strong> o <strong>cambiar los precios</strong> puede hacerlo desde una <strong>interfaz muy amigable</strong> desde la pc o el tel칠fono. </p>
        
        <ElementFeatures iconClass="fas fa-shopping-cart mr-4">
            <h5 slot="titulo">Venta online:</h5>
            <p slot="descripcion">Cree un cat치logo de venta de todos sus productos.</p>
        </ElementFeatures>
        <ElementFeatures iconClass="far fa-handshake mr-4">
            <h5 slot="titulo">Todo listo:</h5>
            <p slot="descripcion">Solo deber치 despachar los productos cuando se realice una compra.</p>
        </ElementFeatures>
      
        <div slot="imagen" class="featured-img2">
            <img loading="lazy" class="img-fluid" src="assets/images/tienda-online.svg" alt="imagen sobre tiendas online">
        </div>
    </Featured>

    <CallToAction>
        <h2 slot="titulo" >쯅ecesita un community manager para su negocio?</h2>
        <p slot="descripcion"> Nosotros creamos y administramos sus redes sociales y sitios web.</p>
        <a slot="boton" href="./administrar-redes-sociales" class="btn btn-primary">Ver m치s</a>
    </CallToAction>

    <PreciosWeb  client:load />

    <Steps>
        <h2 slot="titulo" class="font-weight-bold display-4" data-aos="fade-down" data-aos-duration="800">쮺칩mo <span style=" color: var(--my-color)">trabajamos?</span></h2>
        <StepsNum 
            numero="1"
            titulo="Contacto por tel칠fono"
            descripcion="Realizamos una entrevista, donde le preguntaremos c칩mo quiere la p치gina y cu치les son sus necesidades."
        />
        <StepsNum 
            numero="2"
            titulo="Desarrollo del sitio web"
            descripcion="Alrededor de los 10 d칤as preparamos el desarrollo de su sitio web, de acuerdo a sus gustos, preferencias y lo que m치s necesite su negocio."
        />
        <StepsNum 
            numero="3"
            titulo="Finalizaci칩n del trabajo"
            descripcion="Le presentamos como qued칩 el sitio configurado para su negocio, luego terminamos los detalles y cambios que quiera hacerle."
        />
    </Steps>
 
    <Featured BGblanco={true} >
        <h6 slot="subtitulo" class="title-primary">Programas online</h6>
        <h2 slot="titulo" class="title-blue">Software empresariales para peque침as, medianas y grandes empresas.</h2>
        <p slot="descripcion">Si tiene un negocio y quiere <strong>administrar las finanzas y productos</strong> desde su <strong>computadora, celular o tablet</strong> y desde cualquier lugar con conexi칩n a internet,</br> le <strong>instalamos un programa</strong> para que pueda gestionar <strong>desde su web</strong> la <strong>facturaci칩n, contabilidad, gesti칩n de inventarios, almacenes, fabricaci칩n y proyectos</strong> entre otros.</p>
        
        <ElementFeatures iconClass="fas fa-calculator mr-4">
            <h5 slot="titulo">Gestion:</h5>
            <p slot="descripcion">Facturaci칩n, Inventario, contabilidad, productos.</p>
        </ElementFeatures>
        <ElementFeatures iconClass="fas fa-magic mr-4">
            <h5 slot="titulo">Personalizado:</h5>
            <p slot="descripcion">Desarrollo adaptado al cliente.</p>
        </ElementFeatures>

        <div slot="imagen" class="featured-img2">
            <img loading="lazy" class="img-fluid" src="assets/images/facturacion.svg" alt="imagen de facturaci칩n">
        </div>
    </Featured>

    <Faq titulo="Sobre p치ginas web">
        <Pregunta 
            numero="1"
            pregunta=" Qu칠 son las paginas web ?"
            respuesta="Una <strong>p치gina web</strong>, p치gina digital o p치gina electr칩nica, es <strong>un sitio</strong> donde se puede <strong>ver contenido</strong> de texto, sonido, video, imagen, programas, links entre otras cosas. Este sitio <strong>est치 compuesto</strong> por el <strong>Dominio</strong> (El nombre del sitio web) y la <strong>informaci칩n</strong> que est치 almacenada en el <strong>Hosting</strong> (Servidor f칤sico donde se encuentran las im치genes, textos, videos...)."
        />
        <Pregunta
            numero="2"
            pregunta=" Cu치nto cuesta ?"
            respuesta="El presupuesto se determina seg칰n la complejidad de la web, el precio actual del dominio que necesite (.com, .com.ar, .net, .online, etc.), y el precio actual de los servidores de hosting, aunque siempre existen promociones y convenios con las empresas externas."
        />
        <Pregunta
            numero="3"
            pregunta=" Qu칠 incluye Dise침ar y Crear paginas web ?"
            respuesta="Existen infinidad de <strong>dise침os tem치ticos</strong> que puede <strong>personalizar</strong>, como p치ginas para gimnasios, restaurantes, venta de ropa, inmobiliarias, arquitectura, autos, pintura, m칰sica, artes, cocina etc... Principalmente deber치 <strong>elegir el dominio</strong> (el nombre de la p치gina) si todav칤a no tiene uno, la <strong>creaci칩n</strong> de la web depende si la necesita para <strong>vender productos</strong>, <strong>publicitar un lugar, una marca, una persona o un servicio.</strong>"
        />
        <Pregunta
            numero="4"
            pregunta=" Qu칠 es web informativa o para publicitar ?"
            respuesta="Una web <strong>informativa</strong> es aquella que pretende <strong>brindar informaci칩n</strong> y contenido <strong>sobre un tema, trabajo o servicio espec칤fico</strong>. El <strong>objetivo</strong> principal es que <strong>conozcan su contenido</strong> y al mismo tiempo puede <strong>conseguir llamadas o clientes potenciales</strong>.  Este ser칤a un ejemplo: <a rel='nofollow noopener noreferrer' href='https://kwanying.com.ar' target='_blank'>Kwanying</a>."
        />
        <Pregunta
            numero="5"
            pregunta=" Qu칠 es Tienda online?"
            respuesta="En este tipo de webs el 칰nico <strong>objetivo</strong> es <strong>vender productos</strong> por internet de forma <strong>online</strong> (comercio electr칩nico, o E-commerce), los <strong>productos</strong> que se muestran son productos <strong>disponibles</strong> y con el <strong>precio</strong> actualizado al d칤a. Son <strong>m치s costosas</strong> y necesitan constante <strong>mantenimiento y administraci칩n</strong>."
        />
    </Faq>

    <CallToAction>
        <h2 slot="titulo" >Desarrollo web</h2>
        <p slot="descripcion"> Desarrollamos p치ginas webs profesionales</p>
        <a slot="boton" href="#contact" class="btn btn-primary">Cont치ctenos</a>
    </CallToAction>
</Layout>