---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import CallToAction from '../components/CallToAction.astro';
import CardFeatures from '../components/CardFeatures.astro';
import Featured from '../components/Featured.astro';
import ElementFeatures from '../components/ElementFeatures.astro';
import PreciosRedes from '../components/PreciosRedes.vue';
import Steps2 from '../components/Steps2.astro';
import Steps2Num from '../components/Steps2Num.astro';
import Faq from '../components/Faq.astro';
import Pregunta from '../components/Pregunta.astro';
import { slide, fade } from "astro:transitions";
---
<Layout
    title="ManejoWeb - Creaci칩n y administraci칩n de redes sociales"
    canonical="https://manejoweb.com.ar/administrar-redes-sociales"
    metaTitle="Redes sociales para tu negocio 游 - ManejoWeb"
    metaDescription="Aproveche el poder de las redes sociales para atraer y fidelizar a m치s clientes. Generamos contenido de calidad y relevante para tus redes sociales"
    metaImg="https://manejoweb.com.ar/assets/images/fondo-redes.jpg"
    bodyClass="body-redes"
    >
    
    <Hero background="assets/images/fondo-redes.webp">
        <h1 transition:animate={slide({ duration: '0.5s' })} slot="titulo" >Creamos y Administramos<br>tus <em>redes sociales</em></h1>
        <p transition:animate={fade({ duration: '1s' })} slot="descripcion" >Generamos contenido de calidad para que consigas m치s clientes fidelizados y m치s ventas.</p>
        <a transition:animate="slide" slot="boton" href="#contact" class="btn btn-primary">Cont치ctenos</a>
    </Hero>

    <CallToAction>
        <h2 slot="titulo" >쯅ecesita un community manager para su negocio?</h2>
        <p slot="descripcion">Nosotros administramos sus redes sociales por usted, estudiamos su negocio para crear contenido original y de calidad.</p>
        <a slot="boton" href="#contact" class="btn btn-primary">Cont치ctenos</a>
    </CallToAction>

    <Services title="쯈u칠 herramientas ayudan a potenciar su marca?">
        <CardFeatures colClass='col-sm-6 col-lg-4'>
            <img slot="imagen" src="assets/images/comunicacion.svg" alt="comunicaci칩n">
            <h5 slot="titulo">Comunicaci칩n</h5>
            <p slot="descripcion">Estudiamos c칩mo debe llegar el mensaje, como tambi칠n al p칰blico que va dirigido, para que las personas se interesen y quieran conocerlos.</p>
        </CardFeatures>
        <CardFeatures colClass='col-sm-6 col-lg-4'>
            <img slot="imagen" src="assets/images/redessociales.svg" alt="redes sociales">
            <h5 slot="titulo">Redes sociales</h5>
            <p slot="descripcion">Utilizamos las redes sociales m치s usadas por las personas como son: Instagram, Facebook y Twitter, porque son los medios donde m치s interactuar치n con ustedes.</p>
        </CardFeatures>
        <CardFeatures colClass='col-sm-6 col-lg-4'>
            <img slot="imagen" src="assets/images/disenio.svg" alt="Flyers">
            <h5 slot="titulo">Dise침o</h5>
            <p slot="descripcion">A trav칠s del dise침o damos soluciones a los usuarios, mediante contenido previamente estudiado y enfocado a los mismos, y de esta forma tengan la necesidad de conocerlos.</p>
        </CardFeatures>
    </Services>

    <Featured BGblanco={false}>
        <h6 slot="subtitulo" class="title-primary">Sobre la red social</h6>
        <h2 slot="titulo" class="title-blue">Conseguir seguidores y visitas en sus redes sociales.</h2>
        <p slot="descripcion">A trav칠s de estrategias de <strong>comunicaci칩n y dise침o</strong> creamos contenido capaz de <strong>atraer</strong> e incitar al p칰blico objetivo a <strong>conocer su negocio</strong>, esto guiar치 a que <strong>su imagen</strong> y <strong>sus productos</strong> <strong>se posicionen</strong> en las <strong>redes sociales</strong>, de esta forma <strong>potenciaremos el crecimiento de su marca</strong> y crecer치 en el mercado, para que pueda conseguir <strong>m치s clientes</strong><strong> y ventas potenciales</strong>.</p>
        
        <ElementFeatures iconClass="fas fa-palette mr-4">
            <h5 slot="titulo">M치s Likes:</h5>
            <p slot="descripcion">Obtenga muchos "Me gusta".</p>
        </ElementFeatures>
        <ElementFeatures iconClass="fas fa-chart-line mr-4">
            <h5 slot="titulo">M치s seguidores:</h5>
            <p slot="descripcion">Los seguidores son clientes potenciales.</p>
        </ElementFeatures>
        
        <div slot="imagen" class="featured-img2">
            <img loading="lazy" class="img-fluid" src="./assets/images/social.svg" alt="redes sociales">
        </div>
    </Featured>

    <!-- Services Start -->
    <section class="services">
        <div class="container">
            <div class="title text-center">
                <h2 class="title-blue" data-aos="fade-down" data-aos-delay="200" data-aos-duration="800">Redes sociales m치s usadas</h2>
            </div>
			<div class="row">
				<div class="col">
					<div class="redes" data-aos="fade-down" data-aos-delay="600" data-aos-duration="800">
						<h4>Instagram</h4>
						<img src="assets/images/instagram.svg" alt="instagram">
					</div>
				</div>
				<div class="col">
					<div class="redes" data-aos="fade-down" data-aos-delay="900" data-aos-duration="800">
						<h4>Facebook</h4>
						<img src="assets/images/facebook.svg" alt="facebook">
					</div>
				</div>
				<div class="col">
					<div class="redes" data-aos="fade-down" data-aos-delay="1200" data-aos-duration="800">
						<h4>Twitter</h4>
						<img src="assets/images/twitter.svg" alt="twitter">
					</div>
				</div>
				<div class="col">
					<div class="redes" data-aos="fade-down" data-aos-delay="1500" data-aos-duration="800">
						<h4>YouTube</h4>
						<img src="assets/images/youtube.svg" alt="You Tube">
					</div>
				</div>
				<div class="col">
					<div class="redes" data-aos="fade-down" data-aos-delay="1800" data-aos-duration="800">
						<h4>WhatsApp</h4>
						<img src="assets/images/whatsapp.svg" alt="whatsapp">
					</div>
				</div>
			</div>
		</div>
    </section>
    <!-- Services End -->
    <PreciosRedes
        color={'#2d88ff'}
        url={'https://manejoweb.com.ar/api.php?get_planesredes=1'}
        client:load 
    />

    <Steps2>
        <h2 slot="titulo" class="font-weight-bold display-4" data-aos="fade-up" data-aos-delay="400" data-aos-duration="800">쮺칩mo <span style=" color: var(--my-color)">trabajamos?</span></h2>
        <Steps2Num
            numero="1"
            titulo="Contacta con nosotros"
            descripcion="Realizamos una entrevista por tel칠fono o videollamada, le hacemos preguntas con respecto a su negocio y su situaci칩n con los medios. Luego estudiamos las posibilidades."
        />
        <Steps2Num 
            numero="2"
            titulo="Propuestas"
            descripcion="Despu칠s de crear y configurar las redes (si es necesario) Le presentamos distintos dise침os para que elija cu치l representa m치s su negocio."
        />
        <Steps2Num 
            numero="3"
            titulo="Su negocio crece"
            descripcion="Comenzamos a publicar y ofrecer sus productos o servicios por toda la red."
        />
    </Steps2>

    <Featured BGblanco={false}>
        <h6 slot="subtitulo" class="title-primary">Publicidad Online</h6>
        <h2 slot="titulo" class="title-blue">Atrae m치s clientes con publicidad de Google, Facebook e Instagram.</h2>
        <p slot="descripcion">La <strong>publicidad paga</strong> es la forma m치s <strong>r치pida</strong> y <strong>eficiente</strong> de <strong>conseguir clientes</strong>, lo mejor es que puede determinar su <strong>propio presupuesto</strong> por mes, para gestionar las publicidades dependiendo <strong>lo que quiera gastar</strong>, <strong>Google Ads</strong> (antes Google AdWords) y <strong>Facebook Business</strong>, son las principales plataformas de <strong>manejo de publicidad</strong> en internet, con <strong>Google Ads</strong> aparecer치 <strong>primero</strong> en los resultados de <strong>b칰squeda</strong> de Google, y con <strong>Facebook Business</strong> podr치 aparecer en Facebook e Instagram de <strong>personas que NO los est칠n siguiendo</strong>. De esta forma m치s de <strong>10 mil usuarios</strong> ver치n su <strong>negocio</strong> todos los d칤as. </p>
        
        <ElementFeatures iconClass="fas fa-shopping-cart mr-4">
            <h5 slot="titulo">Presupuestos:</h5>
            <p slot="descripcion">Adaptado a las necesidades de tu empresa</p>
        </ElementFeatures>
        <ElementFeatures iconClass="far fa-handshake mr-4">
            <h5 slot="titulo">Nuestro precio:</h5>
            <p slot="descripcion">Cobramos un porcentaje del presupuesto total</p>
        </ElementFeatures>
       
        <div slot="imagen" class="featured-img2">
            <img loading="lazy" class="img-fluid" src="./assets/images/marketing.svg" alt="publicidad google ads">
        </div>
    </Featured>

    <Faq titulo="Sobre redes sociales">
        <Pregunta 
            numero="1"
            pregunta=" Qu칠 es Community Manager ?"
            respuesta="El <strong>community manager</strong> es aquel profesional encargado de la <strong>planificaci칩n y ejecuci칩n</strong> de tareas que hacen que una <strong>marca</strong> tenga <strong>presencia en internet</strong>, es el encargado de <strong>administrar</strong> la <strong>comunidad online</strong> de la marca. Entre las habilidades que lo destacan se encuentran la <strong>comunicaci칩n y el dise침o</strong>, para lograr resultados 칩ptimos tiene que hacer de <strong>puente</strong> entre la <strong>organizaci칩n</strong> y sus diferentes <strong>p칰blicos</strong>. La tarea del community manager no puede ser llevada por cualquier persona, se requiere que sea <strong>analista, detallista</strong> y que est칠 constantemente <strong>actualizado</strong>, ya que las redes <strong>no son est치ticas</strong> sino que est치n en <strong>permanente cambio</strong>."
        />
        <Pregunta
            numero="2"
            pregunta=" Qu칠 son las redes sociales y para que sirven ?"
            respuesta="Las <strong>redes sociales</strong>, son <strong>medio de comunicaci칩n masivos</strong> donde participan personas de <strong>todo el mundo</strong> y que llevan consigo a <strong>todos lados</strong>, intercambiando <strong>conversaciones, ideas, negocios, im치genes, videos y dem치s</strong>. Estos intercambios se llevan a cabo entre <strong>personas</strong> que <strong>comparten</strong> sus mismos <strong>intereses</strong> sean conocidos o no."
        />
        <Pregunta
            numero="3"
            pregunta=" Cu치l es la red social m치s usada ?"
            respuesta="Actualmente la <strong>red social</strong> m치s <strong>popular</strong> y <strong>famosa</strong> en todo el mundo es <strong>Facebook</strong>, seguido por <strong>YouTube</strong> en cuanto a contenido de streaming y <strong>videos online</strong>, e <strong>Instagram</strong> quiz치s la red social <strong>m치s importante</strong> para los <strong>negocios y emprendedores</strong> junto con <strong>Facebook</strong> hacen una herramienta fundamental para el <strong>reconocimiento</strong> y <strong>potenciamiento</strong> de una <strong>marca</strong>."
        />
    </Faq>

    <CallToAction>
        <h2 slot="titulo" >쯅ecesita m치s seguidores? 쮻esea atraer clientes?</h2>
        <p slot="descripcion"> Estudiamos el mercado de su negocio y creamos contenido para sus redes sociales.</p>
        <a slot="boton" href="#contact" class="btn btn-primary">Cont치ctenos</a>
    </CallToAction>
</Layout>