---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import ClientesActuales from '../components/ClientesActuales.vue';
import { slide, fade } from "astro:transitions";
---
<Layout
    title="ManejoWeb - Nuestros clientes"
    canonical="https://manejoweb.com.ar/clientes"
    metaTitle="Clientes satisfechos - ManejoWeb"
    metaDescription="En ManejoWeb estamos orgullosos de poder ofrecer servicios de calidad a nuestros clientes. Nuestros clientes confían en nuestra experiencia y servicios."
    metaImg="https://manejoweb.com.ar/assets/images/fondo-clientes.jpg"
    bodyClass="body-clientes"
    >
    
    <Hero background="assets/images/fondo-clientes.webp">
        <h1 transition:animate={slide({ duration: '0.5s' })} slot="titulo" ><em>Nuestros</em> clientes </h1>
        <p transition:animate={fade({ duration: '1s' })} slot="descripcion" >Conozcan los negocios y empresas que actualmente trabajan con nosotros.</p>
        <a transition:animate="slide" slot="boton" href="#contact" class="btn btn-primary">Contáctenos</a>
    </Hero>

    <ClientesActuales client:load />
    
</Layout>