---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/components/Hero.astro';
import Services from '@/components/Services.astro';
import CallToAction from '@/components/CallToAction.astro';
import CardFeatures from '@/components/CardFeatures.astro';
import Featured from '@/components/Featured.astro';
import ElementFeatures from '@/components/ElementFeatures.astro';
import About from '@/components/About.astro';
import { slide, fade } from "astro:transitions";
const background = "assets/images/fondo-marketing.webp";
---
<Layout
    title="ManejoWeb - Marketing Digital"
    canonical="https://manejoweb.com.ar"
    metaTitle="ManejoWeb - Servicios de marketing digital"
    metaDescription="Servicios de marketing digital a empresas y emprendedores, incluyendo creación de sitios web, publicidad en línea, diseño de marca y gestión de redes sociales."
    metaImg="https://manejoweb.com.ar/assets/images/marketing-digital.png"
    bodyClass="body-ini"
    >

    <Hero background={background}>
        <h1 transition:animate={slide({ duration: '0.5s' })} slot="titulo">Publicidad, diseño y </br><em>marketing digital</em></h1>
        <p transition:animate={fade({ duration: '1s' })} slot="descripcion" >Publicidad en internet, diseño de páginas web, creación de contenido y administración de redes sociales, diseño de logos y cartelería</p>
        <a transition:animate="slide" slot="boton" href="#contact" class="btn btn-primary">Contáctenos</a>
    </Hero>

    <CallToAction>
        <h2 slot="titulo" >¿Necesita una imagen profesional?</h2>
        <p slot="descripcion">Diseño de logos, tarjetas de presentación, etiquetas y más...</p>
        <a slot="boton" href="./creacion-de-marca" class="btn btn-primary">Ver más</a>
    </CallToAction>

    <Services title="Servicios">
        <CardFeatures colClass='col-md-6'>
            <img slot="imagen" src="assets/images/red-mundial.png" alt="sitios web">
            <a slot="titulo" href="./paginas-web"><h5>Sitio Web</h5></a>
            <p slot="descripcion">Le creamos un sitio web, para que muestre toda la información de su negocio al público y pueda publicitarse.</p>
        </CardFeatures>
        <CardFeatures colClass='col-md-6'>
            <img slot="imagen" src="assets/images/redes-sociales.png" alt="redes sociales">
            <a slot="titulo" href="./administrar-redes-sociales"><h5>Redes Sociales</h5></a>
            <p slot="descripcion">Creamos y administramos sus redes sociales, Facebook, Instagram etc. Generamos contenido para atraer clientes publicando todas las semanas.</p>
        </CardFeatures>
        <CardFeatures colClass='col-md-6'>
            <img slot="imagen" src="assets/images/disenador-grafico.png" alt="diseño grafico">
            <a slot="titulo" href="./creacion-de-marca"><h5>Diseño de marca</h5></a>
            <p slot="descripcion">Le diseñamos su marca a su estilo, diseño de logos, etiquetas, tarjetas de presentación, cartelería y mucho más. </p>
        </CardFeatures>
        <CardFeatures colClass='col-md-6'>
            <img slot="imagen" src="assets/images/megafono.png" alt="publicidad en internet">
            <a slot="titulo" href="./publicidad"><h5>Publicidad</h5></a>
            <p slot="descripcion">Fundamental si quiere atraer más clientes. Publicidad en internet (Buscador de Google, páginas web, redes sociales) clientes asegurados.</p>
        </CardFeatures>
    </Services>

    <Featured BGblanco={false}>
        <h6 slot="subtitulo" class="title-primary">Sobre el servicio</h6>
        <h2 slot="titulo" class="title-blue">Presencia en internet, estrategias de fidelización y atraer clientes.</h2>
        <p slot="descripcion">Nuestro objetivo es que pueda obtener un <strong>crecimiento de clientes</strong>, a través de las distintas plataformas online con las que contamos (<strong>sitios web y redes sociales</strong>).</br>Lo que hacemos es <strong>atraer visitas</strong> de un <strong>público objetivo</strong>, las cuales generarán <strong>consultas y ventas</strong>. Su imagen será <strong>reconocida</strong> alrededor de su rubro y podrá <strong>superar a su competencia</strong>. </p>
        
        <ElementFeatures iconClass="fas fa-globe-americas mr-4">
            <h5 slot="titulo">Presencia:</h5>
            <p slot="descripcion">La mayoría de sus clientes</br>lo buscan en internet</p>
        </ElementFeatures>
        <ElementFeatures iconClass="fas fa-medal mr-4">
            <h5 slot="titulo">Competitividad:</h5>
            <p slot="descripcion">Supere a la competencia</p>
        </ElementFeatures>

        <div slot="imagen" class="featured-img" style="margin-top:50px !important;">
            <img loading="lazy" class="img-fluid" src="assets/images/marketing-digital.png" alt="marketing digital">
        </div>
    </Featured>

    <CallToAction>
        <h2 slot="titulo" >¿Necesita un community manager para su negocio?</h2>
        <p slot="descripcion"> Nosotros creamos y administramos sus redes sociales y sitios web.</p>
        <a slot="boton" href="./administrar-redes-sociales" class="btn btn-primary">Ver más</a>
    </CallToAction>

    <About />
 
</Layout>