---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/components/Hero.astro';
import Services from '@/components/Services.astro';
import CallToAction from '@/components/CallToAction.astro';
import CardFeatures from '@/components/CardFeatures.astro';
import Featured from '@/components/Featured.astro';
import ElementFeatures from '@/components/ElementFeatures.astro';
import PreciosWeb from '@/components/PreciosWeb.vue';
import RecentPosts from '@/components/RecentPosts.astro';
import RecentPostLeft from '@/components/RecentPostLeft.astro';
import RecentPostRight from '@/components/RecentPostRight.astro';
import Steps from '@/components/Steps.astro';
import StepsNum from '@/components/StepsNum.astro';
import Faq from '@/components/Faq.astro';
import Pregunta from '@/components/Pregunta.astro';
import { slide, fade } from "astro:transitions";
const background="assets/images/fondo-software.webp";
---
<Layout
    title="ManejoWeb - Desarrollo de softwares"
    canonical="https://manejoweb.com.ar/desarrollo-softwares"
    metaTitle="Desarrollo de softwares - ManejoWeb"
    metaDescription="¿Desea actualizarse a las nuevas tecnologías. Ofrecemos soluciones para el mundo del futuro"
    metaImg="https://manejoweb.com.ar/assets/images/disenio-moderno.jpg"
    bodyClass="body-software"
    >
    <!--A modificar parámetros del hero -->
    <!--A modificar parámetros del hero segunda linea -->
    <Hero background={background}>
        <h1 transition:animate={slide({ duration: '0.5s' })} slot="titulo">Desarrollo de </br><em>softwares</em></h1>
        <p transition:animate={fade({ duration: '1s' })} slot="descripcion" >Lleve su emprendimiento al siguiente nivel. 
            Tenga el control en la palma de su mano.</p>
        <a transition:animate="slide" slot="boton" slot="boton" href="#contact" class="btn btn-primary">Contáctenos</a>
    </Hero>

    <CallToAction>
        <h2 slot="titulo" >¿Necesita ayuda para gestionar su negocio?</h2>
        <p slot="descripcion">Permítanos solucionarle el problema. Automatice los procesos.</p>
        <a slot="boton" href="#contact" class="btn btn-primary">Contáctenos</a>
    </CallToAction>

    <Services title="Por qué elegirnos">
        <CardFeatures colClass='col-sm-6 col-lg-4'>
            <img slot="imagen" src="assets/images/reloj.svg" alt="ahorre dinero">
            <h5 slot="titulo">Disponga su tiempo para lo verdaderamente importante.</h5>
            <p slot="descripcion">Le desarrollamos completamente un software, para que pueda gestionar de manera ágil y efectiva esas cosas que le preocupan.</p>
        </CardFeatures>
        <CardFeatures colClass='col-sm-6 col-lg-4'>
            <img slot="imagen" src="assets/images/medalla.svg" alt="calidad">
            <h5 slot="titulo">Trabajos garantizados</h5>
            <p slot="descripcion">Adaptamos nuestros desarrollos a sus exigencias, necesidades y a futuras implementaciones.</p>
        </CardFeatures>
        <CardFeatures colClass='col-sm-6 col-lg-4'>
            <img slot="imagen" src="assets/images/foco.svg" alt="diseños web unicos">
            <h5 slot="titulo">Control y seguimiento</h5>
            <p slot="descripcion">Acceda de forma rápida y sencilla a la información que necesita, sin descuidar la seguridad. </p>
        </CardFeatures>
        <CardFeatures colClass='col-sm-6 col-lg-4'>
            <img slot="imagen" src="assets/images/ventas.svg" alt="subir ventas">
            <h5 slot="titulo">Resuelva ya el problema.</h5>
            <p slot="descripcion">Identifique, tome medidas y derive las responsabilidades en el momento.</p>
        </CardFeatures>
        <CardFeatures colClass='col-sm-6 col-lg-4'>
            <img slot="imagen" src="assets/images/clientes.svg" alt="ganar clientes">
            <h5 slot="titulo">Aumente la productividad</h5>
            <p slot="descripcion">Agilice los canales de comunicación y los procesos.</p>
        </CardFeatures>
        <CardFeatures colClass='col-sm-6 col-lg-4'>
            <img slot="imagen" src="assets/images/ahorrar.svg" alt="ahorre dinero">
            <h5 slot="titulo">Portabilidad</h5>
            <p slot="descripcion">Acceda desde donde esté, las 24 horas del día. Tenga el control en su bolsillo.</p>
        </CardFeatures>
    </Services>

    <Featured BGblanco={false}>
        <h6 slot="subtitulo" class="title-primary">Sobre el software</h6>
        <h2 slot="titulo" class="title-blue">Desarrollamos softwares personalizados y a pedido</h2>
        <p slot="descripcion"><strong>Desarrollo de software</strong> con entornos de trabajo robustos, utilizamos <strong>principios de desarrollo confiables</strong> y las mejores <strong>alternativas</strong> del mercado, realizamos <strong>diseños de fácil aprendizaje</strong>, <strong>intuitivos</strong>, <strong>cómodos</strong>, <strong>accesibles</strong> y <strong>personalizables</strong> para facilitar la <strong>adaptación</strong>. Ofrecemos <strong>guías</strong> y <strong>asesoramiento</strong> , para ayudarle a conseguir lo que mejor se adapta a sus deseos. </p>
        
        <ElementFeatures iconClass="fas fa-palette mr-4">
            <h5 slot="titulo">Diseño para:</h5>
            <p slot="descripcion">Celulares, tabletas, notebooks y PC</p>
        </ElementFeatures>
        <ElementFeatures iconClass="fas fa-chart-line mr-4">
            <h5 slot="titulo">Seguridad:</h5>
            <p slot="descripcion">Bases de datos y copias de respaldo.</p>
        </ElementFeatures>
        
        <div slot="imagen" class="featured-img">
            <img loading="lazy" class="img-fluid" src="assets/images/software-web.png" alt="diseño web moderno">
        </div>
    </Featured>

    <RecentPosts titulo="Algunos trabajos nuestros">
        <RecentPostRight>
            <time slot="tiempo" datetime="2021-01-10T13:53">2021</time>
            <h3 slot="titulo" ><a rel="nofollow noopener noreferrer" href="https://kwanying.com.ar/" target="_blank">Kwanying</a></h3>
            <p slot="descripcion"><a>Centro de Spa</a>, <a>Sitio web</a>, <a>Informativo</a></p>
            <a slot="link" class="post-btn" rel="nofollow noopener noreferrer" href="https://kwanying.com.ar" target="_blank"><i class="fa fa-arrow-right"></i></a>
            
            <img slot="imagen" loading="lazy" class="img-fluid" src="assets/images/kwanying-vista-previa.jpg" alt="vista previa pagina kwanying">
        </RecentPostRight>

        <RecentPostLeft>
            <img slot="imagen" loading="lazy" class="img-fluid" src="assets/images/quickly-vista-previa.jpg" alt="vista previa tienda online">
            
            <time slot="tiempo" datetime="2021-04-06T13:53">2022</time>
            <h3 slot="titulo"><a rel="nofollow noopener noreferrer" href="https://quickly.com.ar/" target="_blank">QUICKLY</a></h3>
            <p slot="descripcion"><a>Imprenta</a>, <a>Web</a>, <a>Informativo</a></p>
            <a slot="link" class="post-btn" rel="nofollow noopener noreferrer" href="https://quickly.com.ar/" target="_blank"><i class="fa fa-arrow-right"></i></a>
        </RecentPostLeft>

        <RecentPostRight>
            <time slot="tiempo" datetime="2021-01-10T13:53">2021</time>
            <h3 slot="titulo"><a rel="nofollow noopener noreferrer" href="https://escueladeveranomurialdo.com.ar/" target="_blank">Escuela de verano - Club Leonardo Murialdo</a></h3>
            <p slot="descripcion"><a>Escuela de Verano</a>, <a>Sitio web</a>, <a>Informativo</a></p>
            <a slot="link" class="post-btn" rel="nofollow noopener noreferrer" href="https://escueladeveranomurialdo.com.ar" target="_blank"><i class="fa fa-arrow-right"></i></a>

            <img slot="imagen" loading="lazy" class="img-fluid" src="assets/images/escuela-de-verano.jpg" alt="vista previa pagina escueladeveranomurialdo">
        </RecentPostRight>
            
        <RecentPostLeft>
            <img slot="imagen" loading="lazy" class="img-fluid" src="assets/images/blocke-vista-previa.jpg" alt="vista previa blocke">
            
            <time slot="tiempo" datetime="2022-04-06T13:53">2022</time>
            <h3 slot="titulo"><a rel="nofollow noopener noreferrer" href="https://blockeargentina.com" target="_blank">Blocke - Revestimientos Anti-humedad</a></h3>
            <p slot="descripcion"><a>Revestimientos antihumedad</a>, <a>Web y tienda</a>, <a>Informativo</a></p>
            <a slot="link" class="post-btn" rel="nofollow noopener noreferrer" href="https://blockeargentina.com" target="_blank"><i class="fa fa-arrow-right"></i></a>
        </RecentPostLeft>
    </RecentPosts>

    <Featured BGblanco={false}>
        <h6 slot="subtitulo" class="title-primary">Actualice su negocio</h6>
        <h2 slot="titulo" class="title-blue">Gestione online su emprendimiento.</h2>
        <p slot="descripcion"><strong>desarrollamos softwares profesionales</strong> integrando <strong>todas las áreas</strong> de trabajo en un <strong>solo lugar</strong>. <strong>Fácil de usar</strong> para las personas que <strong>no tienen conocimientos de computación</strong>, con opciones de diseño <strong>"adaptables"</strong> a entornos conocidos.</br>Contamos con <strong>soporte de bases de datos</strong> para que pueda almacenar y recuperar datos, <strong>sistema de roles o función de usuario</strong>, <strong>registros de incidencias y actividad</strong>, puede <strong>controlar al detalle</strong> quiénes trabajan en el software y <strong>qué información eliminan</strong> para tener un <strong>control de cómo se maneja la información</strong> disponible.</br> Puede incluso <strong>gestionar permisos</strong>, temporales o permanentes, según considere.</br>
            Le dejamos el <strong>software listo para empezar a utlizarlo</strong>, y si en un futuro quiere <strong>agregar más funcionalidades</strong> o <strong>modificar las preexistentes</strong> puede solicitarlo desde una <strong>interfaz muy amigable</strong> desde la pc o el teléfono. Garantizamos la <strong>confidencialidad</strong> y el <strong>cuidado de sus datos</strong>, los cuales puede llevarse consigo en cualquier momento.</p>
        
        <ElementFeatures iconClass="fas fa-shopping-cart mr-4">
            <h5 slot="titulo">Integración:</h5>
            <p slot="descripcion">Sume a su software las prestaciones de otras aplicaciones.</p>
        </ElementFeatures>
        <ElementFeatures iconClass="far fa-handshake mr-4">
            <h5 slot="titulo">Funcionalidad:</h5>
            <p slot="descripcion">Facturación, inventarios, control de tardanzas y ausentismo, auditorias, seguimientos y más.</p>
        </ElementFeatures>
      
        <div slot="imagen" class="featured-img2">
            <img loading="lazy" class="img-fluid" src="assets/images/software-online.png" alt="imagen sobre software online">
        </div>
    </Featured>

    <CallToAction>
        <h2 slot="titulo" >¿Necesita mas asesoramiento?</h2>
        <p slot="descripcion"> Contamos con personal capacitado para resolverle sus dudas.</p>
        <a slot="boton" href="./administrar-redes-sociales" class="btn btn-primary">Ver más</a>
    </CallToAction>

    <PreciosWeb  client:load />

    <Steps>
        <h2 slot="titulo" class="font-weight-bold display-4" data-aos="fade-down" data-aos-duration="800">¿Cómo <span style=" color: var(--my-color)">trabajamos?</span></h2>
        <StepsNum 
            numero="1"
            titulo="Contacto por teléfono"
            descripcion="Realizamos una entrevista, donde le preguntaremos cómo quiere la página y cuáles son sus necesidades."
        />
        <StepsNum 
            numero="2"
            titulo="Desarrollo del sitio web"
            descripcion="Alrededor de los 10 días preparamos el desarrollo de su sitio web, de acuerdo a sus gustos, preferencias y lo que más necesite su negocio."
        />
        <StepsNum 
            numero="3"
            titulo="Finalización del trabajo"
            descripcion="Le presentamos como quedó el sitio configurado para su negocio, luego terminamos los detalles y cambios que quiera hacerle."
        />
    </Steps>
 
    <Featured BGblanco={true} >
        <h6 slot="subtitulo" class="title-primary">Programas online</h6>
        <h2 slot="titulo" class="title-blue">Software empresariales para pequeñas, medianas y grandes empresas.</h2>
        <p slot="descripcion">Si tiene un negocio y quiere <strong>administrar las finanzas y productos</strong> desde su <strong>computadora, celular o tablet</strong> y desde cualquier lugar con conexión a internet,</br> le <strong>instalamos un programa</strong> para que pueda gestionar <strong>desde su web</strong> la <strong>facturación, contabilidad, gestión de inventarios, almacenes, fabricación y proyectos</strong> entre otros.</p>
        
        <ElementFeatures iconClass="fas fa-calculator mr-4">
            <h5 slot="titulo">Gestion:</h5>
            <p slot="descripcion">Facturación, Inventario, contabilidad, productos.</p>
        </ElementFeatures>
        <ElementFeatures iconClass="fas fa-magic mr-4">
            <h5 slot="titulo">Personalizado:</h5>
            <p slot="descripcion">Desarrollo adaptado al cliente.</p>
        </ElementFeatures>

        <div slot="imagen" class="featured-img2">
            <img loading="lazy" class="img-fluid" src="assets/images/facturacion.svg" alt="imagen de facturación">
        </div>
    </Featured>

    <Faq titulo="Sobre páginas web">
        <Pregunta 
            numero="1"
            pregunta="¿ Qué son las paginas web ?"
            respuesta="Una <strong>página web</strong>, página digital o página electrónica, es <strong>un sitio</strong> donde se puede <strong>ver contenido</strong> de texto, sonido, video, imagen, programas, links entre otras cosas. Este sitio <strong>está compuesto</strong> por el <strong>Dominio</strong> (El nombre del sitio web) y la <strong>información</strong> que está almacenada en el <strong>Hosting</strong> (Servidor físico donde se encuentran las imágenes, textos, videos...)."
        />
        <Pregunta
            numero="2"
            pregunta="¿ Cuánto cuesta ?"
            respuesta="El presupuesto se determina según la complejidad de la web, el precio actual del dominio que necesite (.com, .com.ar, .net, .online, etc.), y el precio actual de los servidores de hosting, aunque siempre existen promociones y convenios con las empresas externas."
        />
        <Pregunta
            numero="3"
            pregunta="¿ Qué incluye Diseñar y Crear paginas web ?"
            respuesta="Existen infinidad de <strong>diseños temáticos</strong> que puede <strong>personalizar</strong>, como páginas para gimnasios, restaurantes, venta de ropa, inmobiliarias, arquitectura, autos, pintura, música, artes, cocina etc... Principalmente deberá <strong>elegir el dominio</strong> (el nombre de la página) si todavía no tiene uno, la <strong>creación</strong> de la web depende si la necesita para <strong>vender productos</strong>, <strong>publicitar un lugar, una marca, una persona o un servicio.</strong>"
        />
        <Pregunta
            numero="4"
            pregunta="¿ Qué es web informativa o para publicitar ?"
            respuesta="Una web <strong>informativa</strong> es aquella que pretende <strong>brindar información</strong> y contenido <strong>sobre un tema, trabajo o servicio específico</strong>. El <strong>objetivo</strong> principal es que <strong>conozcan su contenido</strong> y al mismo tiempo puede <strong>conseguir llamadas o clientes potenciales</strong>.  Este sería un ejemplo: <a rel='nofollow noopener noreferrer' href='https://kwanying.com.ar' target='_blank'>Kwanying</a>."
        />
        <Pregunta
            numero="5"
            pregunta="¿ Qué es Tienda online?"
            respuesta="En este tipo de webs el único <strong>objetivo</strong> es <strong>vender productos</strong> por internet de forma <strong>online</strong> (comercio electrónico, o E-commerce), los <strong>productos</strong> que se muestran son productos <strong>disponibles</strong> y con el <strong>precio</strong> actualizado al día. Son <strong>más costosas</strong> y necesitan constante <strong>mantenimiento y administración</strong>."
        />
    </Faq>

    <CallToAction>
        <h2 slot="titulo" >Desarrollo web</h2>
        <p slot="descripcion"> Desarrollamos páginas webs profesionales</p>
        <a slot="boton" href="#contact" class="btn btn-primary">Contáctenos</a>
    </CallToAction>
</Layout>