<!-- About -->
<section id="about" class="lazy-background fondo-about">
    <div class="container">
        <div class="testimonials">
            <div class="swiper-wrapper">
                <div class="swiper-slide text-center">
                    <div class="row">
                        <div class="offset-lg-1 col-lg-10">
                            <h5 data-aos="fade-up" >Sobre Nosotros</h5>
                            <p data-aos="fade-up">Somos un grupo de Diseñadores web, industrial y gráfico, comunicadores sociales, marketers y programadores, trabajamos juntos para realizar proyectos en internet de community manager, creación de páginas web para empresas, negocios y particulares.</br>
                                También administramos redes sociales, publicidad para tu negocio (Google ads y redes), diseño y rediseño de logos, diseño de etiquetas, volantes, tarjetas de presentación etc. Tenemos un trato personalizado con el cliente y atendemos todos sus proyectos. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .fondo-about {
        background-color: var(--my-color);
        background-image: url(../images/shiny.svg);
        background-size:cover;
    }
</style>