    <!-- Call To Action Start -->
    <section class="cta2" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="cta-content d-xl-flex align-items-center justify-content-around text-center text-xl-left">
                <div class="content" data-aos="fade-right" data-aos-delay="200">
                    <slot name="titulo" />
                    <slot name="descripcion" />
                </div>
                <div class="subscribe-btn" data-aos="fade-left" data-aos-delay="400" data-aos-offset="0">
                    <slot name="boton" />
                </div>
            </div>
        </div>
    </section>
    <!-- Call To Action End -->