
---
import BotonesContacto from '../components/BotonesContacto.astro';
---
	<!--FOOTER-->
	<footer>
        <!-- Widgets Start -->
        <div class="lazy-background footer-widgets">
            <div class="container">
			<h3 id="contact" data-aos="fade-down" data-aos-delay="200">Contacte con nosotros</h3>
                <div class="row">
                    <div class="input-group-append col-xs-6 col-sm-4 justificarcontenido">
                        <div class="single-widget contact-widget" data-aos="fade-up" data-aos-delay="0">
                            <div class="media">
                                <i class="fas fa-map-marker"></i>
                                <div class="media-body ml-3">
                                    <h6>Localidad</h6>
                                    Mendoza,<br>
                                    Argentina
                                </div>
                            </div>
                            <div class="media">
                                <i class="fas fa-envelope"></i>
                                <div class="media-body ml-3">
                                    <h6>¿Alguna Consulta?</h6>
                                    <a href="mailto:contacto@manejoweb.com.ar">contacto@manejoweb.com.ar</a>
                                </div>
                            </div>
						</div>
                    </div>
					<div class="input-group-append col-xs-6 col-sm-4 justificarcontenido">
						<div class="single-widget contact-widget" data-aos="fade-up" data-aos-delay="0">
							<div class="media">
                                <i class="fa fa-phone"></i>
                                <div class="media-body ml-3">
                                    <h6>Llámenos</h6>
                                    <a href="tel:+542612455960">(261)2455960</a>
                                </div>
                            </div>
                            <div class="media">
                                <i class="fab fa-whatsapp"></i>
                                <div class="media-body ml-3">
                                    <h6>WhatsApp</h6>
                                    <a href="https://wa.me/542612455960" target="_blank">(261)2455960</a>
                                </div>
                            </div>
						</div>
					</div>
					<div class="input-group-append col-xs-6 col-sm-4 justificarcontenido">
						<div class="single-widget contact-widget" data-aos="fade-up" data-aos-delay="0">
							<div class="media">
								<i class="fas fa-thumbs-up"></i>
								<div class="media-body ml-3">
									<h6>Síguenos</h6>
								</div>
							</div>
							<div class="social-icons">
								<ul>
									<li class="facebook" style="background-color: #f0f0f0">
										<a rel="nofollow noopener noreferrer" href="https://web.facebook.com/MarGocomunicacion" target="_blank"><i class="fas fa-facebook"></i></a>
									</li>

									<li class="insta" style="background-color: #f0f0f0">
										<a rel="nofollow noopener noreferrer" href="https://www.instagram.com/margo.comunicacion" target="_blank"><i class="fab fa-instagram"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
        <!-- Widgets End -->
    </footer>
	<BotonesContacto />
	<div id="pageMessages"></div>