<header class="position-fixed w-100">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" href="./"><img src="assets/images/manejoweb-logo-cabecera.png" alt="Logo de Manejoweb" width="200" height="55"></a>
            <div class="align-items-center">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="btn-group">
                        <a style="padding: 8px 4px !important;" class="nav-link" href="./" ><i class="fas fa-home"></i> Inicio</a>
                        <a style="padding-left: 0.2rem !important;" class="dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></a>
                        <div class="dropdown-menu dropdown-menu-right" data-toggle="collapse" data-target=".navbar-collapse.show">
                            <a class="dropdown-item" href="./#about">Sobre nosotros</a>
                        </div>
                    </li>
                    <li class="btn-group">
                        <a style="padding: 8px 4px !important;" class="nav-link" href="./paginas-web" ><i class="fas fa-globe"></i> Páginas web</a>
                        <a style="padding-left: 0.2rem !important;" class="dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></a>
                        <div class="dropdown-menu dropdown-menu-right" data-toggle="collapse" data-target=".navbar-collapse.show">
                            <a class="dropdown-item" href="./paginas-web#precios">Precios</a>
                            <a class="dropdown-item" href="./paginas-web#contact">Contáctenos</a>
                        </div>
                    </li>

                    <li class="btn-group">
                        <a style="padding: 8px 4px !important;" class="nav-link" href="./software-web" ><i class="fas fa-sitemap"></i> Desarrollo de Software</a>
                        <a style="padding-left: 0.2rem !important;" class="dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></a>
                        <div class="dropdown-menu dropdown-menu-right" data-toggle="collapse" data-target=".navbar-collapse.show">
                            <a class="dropdown-item" href="./paginas-web#precios">Precios</a>
                            <a class="dropdown-item" href="./paginas-web#contact">Contáctenos</a>
                        </div>
                    </li>

                    <li class="btn-group">
                        <a style="padding: 8px 4px !important;" class="nav-link" href="./administrar-redes-sociales" ><i class="far fa-thumbs-up"></i> Redes sociales</a>
                        <a style="padding-left: 0.2rem !important;" class="dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                        <div class="dropdown-menu dropdown-menu-left" data-toggle="collapse" data-target=".navbar-collapse.show">
                            <a class="dropdown-item" href="./administrar-redes-sociales#precios">Precios</a>
                            <a class="dropdown-item" href="./administrar-redes-sociales#contact">Contáctenos</a>
                        </div>
                    </li>
                    <li class="btn-group">
                        <a style="padding: 8px 4px !important;" class="nav-link" href="./creacion-de-marca" ><i class="fas fa-paint-brush"></i> Diseño</a>
                        <a style="padding-left: 0.2rem !important;" class="dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                        <div class="dropdown-menu dropdown-menu-left" data-toggle="collapse" data-target=".navbar-collapse.show">
                            <a class="dropdown-item" href="./creacion-de-marca#precios">Precios</a>
                            <a class="dropdown-item" href="./creacion-de-marca#contact">Contáctenos</a>
                        </div>
                    </li>
                    <li class="btn-group">
                        <a style="padding: 8px 4px !important;" class="nav-link" href="./publicidad" ><i class="fas fa-bullhorn"></i> Publicidad</a>
                        <a style="padding-left: 0.2rem !important;" class="dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                        <div class="dropdown-menu dropdown-menu-left" data-toggle="collapse" data-target=".navbar-collapse.show">
                            <a class="dropdown-item" href="./publicidad#contact">Contáctenos</a>
                        </div>
                    </li>
                    <li class="nav-link dropdown">
                        <a style="padding: 8px 4px !important;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Más</a>
                        <div class="dropdown-menu" data-toggle="collapse" data-target=".navbar-collapse.show">
                            <a class="dropdown-item" href="./clientes"><i class="fas fa-hospital-user"></i> Clientes</a>
                            <a class="dropdown-item" href="./equipo"><i class="fas fa-users"></i> Equipo</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

