---
interface Props {
	background: string;
}

const { background } = Astro.props;
---
<!-- Hero Start -->
<section class="hero">
    <img src={background} 
        class="backgroundImage"
    /> 
    <div class="container">
        <div class="row">
            <div class="col-12 offset-md-1 col-md-11">
                <div class="swiper-wrapper">
                    <div class="swiper-slide slide-content d-flex align-items-center">
                        <div class="single-slide">
                            <slot name="titulo" />
                            <slot name="descripcion" />
                            <slot name="boton" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Control -->
    </div>
    <div class="texture"></div>
</section>
<!-- Hero End -->
<style>
    .backgroundImage{
        position: absolute;
        z-index: -1;
        min-width: -webkit-fill-available;
        width: max-content;
        height: 100%;
    }
    @media screen and (min-width: 1400px) {
        .backgroundImage{
            width: -moz-available !important;
        }
    }
 
</style>