<div class="col-lg-6">
    <div class="single-rpost d-sm-flex align-items-center" data-aos="fade-left"
        data-aos-duration="800">
        <div class="post-thumb">
            <slot name="imagen" />
        </div>
        <div class="post-content">
            <slot name="tiempo" />
            <slot name="titulo" />
            <slot name="descripcion" />
            <slot name="link" />
        </div>
    </div>
</div>