<section id="steps" >
    <div class="container my-5">
        <div class="text-center mb-5">
            <slot name="titulo" />
        </div>
        <div class="row">
            <slot />
        </div>
    </div>
</section>