---
interface Props {
	numero: string;
    titulo: string;
    descripcion: string;
}

const { numero,titulo,descripcion } = Astro.props;
---
<div class="timeline" data-aos="fade-left" data-aos-delay="400" data-aos-duration="800">
    <a href="#contact" class="timeline-content">
        <span class="year">{numero}ยบ</span>
        <div class="inner-content">
            <h3 class="title">{titulo}</h3>
            <p class="description">{descripcion}</p>
        </div>
    </a>
</div>