<!-- PASOS --> 
<div class="container">
    <section id="steps">
        <div class="text-center mb-5">
            <slot name="titulo" />
        </div>
    </section>
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline4">
                <slot />
            </div>
        </div>
    </div>
</div>
<!-- PASOS End -->