<!-- PASOS -->
<section class="featured grisesito">
    <div class="container">
        <section id="steps">
            <div class="text-center mb-5">
                <slot name="titulo" />
            </div>
        </section>
        <div class="row">
            <div class="col-md-12">
                <div class="main-timeline3">
                    <slot />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- PASOS END -->