---
import type { GetStaticPaths } from "astro";
const { equipo } = Astro.params

export const getStaticPaths = (async() => {
    const response = await fetch(
        "https://manejoweb.com.ar/api.php?get_equipo=1"
      );
      
    const usuarios = await response.json();
    return usuarios.map(
        (usuario)  => ({ 
        params: { equipo: usuario.slug } 
    }))
        
    
}) satisfies GetStaticPaths;
---
<h1>{equipo}</h1>